extends layout

block content
    .row
        .col-12
            .pt-4.pl-3
                form(action='/add-log', method='POST')
                    .row
                        .col-11
                            input.form-control.large(name="text" type='text' placeholder='Log something...')
                        .col-1
                            button.btn.btn-info(type='submit') Log
    hr    
    .row
        .col-12
            each log in logs
                .card.mb-4
                    .card-body 
                        .card-title #{log.dateFormated}
                        .card-text.mb-2 #{log.text} 
                        a.card-link(href="/logs/" + log._id + "/delete") Delete


